<aside class="sb">
  <div class="sb__brand">
    <div class="sb__logo">D</div>
    <div class="sb__brandText">
      <div class="sb__title">DIDADPOL</div>
      <div class="sb__subtitle">Bienes / Logística</div>
    </div>
  </div>

  <nav class="sb__nav">
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>

    <div class="sb__section">MÓDULOS</div>

    <a routerLink="/seguridad" routerLinkActive="active">Autenticación y Seguridad</a>
    <a routerLink="/registro-bienes">Registro de Bienes</a>
    <a routerLink="/inventario-reservas" routerLinkActive="active">Inventario + Reservas</a>
    <a routerLink="/movimientos-kardex" routerLinkActive="active">Kardex</a>
    <a routerLink="/solicitudes-logistica" routerLinkActive="active">Solicitudes Logística</a>
    <a routerLink="/asignacion-bienes" routerLinkActive="active">Asignación de Bienes (Actas)</a>
    <a routerLink="/mantenimiento" routerLinkActive="active">Mantenimiento</a>
    <a routerLink="/catalogos-maestros" routerLinkActive="active">Catálogos y Maestros</a>
  </nav>
</aside>
