<footer class="ft">
  <div class="ft__inner">

    <div class="ft__logos">
      <img class="ft__logo"
           src="assets/img/gobierno.png"
           alt="Gobierno de Honduras" />

      <img class="ft__logo"
           src="assets/img/didadpol.png"
           alt="DIDADPOL" />
    </div>

    <div class="ft__info">

      <div class="ft__col">
        <div class="ft__title">Tegucigalpa</div>
        <div>Centro Cívico gubernamental, Torre 1, Piso 19 y 20,</div>
        <div>Boulevard Juan Pablo II, Esquina República de Corea,</div>
        <div>Tegucigalpa, M.D.C., Honduras, C.A.</div>

        <br />

        <div class="ft__title">San Pedro Sula</div>
        <div>Col. Trejo 12 y 13 calle, 23 avenida, S.O</div>
      </div>

      <div class="ft__col">
        <div class="ft__title">Denuncias</div>
        <div>2242-8641 Atención al Público</div>
        <div><b>TGU:</b> 2242-8645</div>
        <div><b>SPS:</b> 2556-5454 / 9551-0544</div>
      </div>

      <div class="ft__col">
        <div class="ft__title">Horario</div>
        <div><b>Lunes - Viernes:</b> 7:00 am - 3:00 pm</div>
      </div>

    </div>

  </div>
</footer>